.box-large {
    width: 100%;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .phoneList{
    height: 45px;
    display: flex;
    align-items: center;
    background-color: #dceaf7;
  }
  .phoneList:hover{
    background-color: #cddbe7;
  }
  .phone-name{
    width: 27%;
    
    align-items: center;
    padding-left: 20px;
  }
  .type-maintable{
    width: 35.5%;
    
    align-items: center;
    padding-left: 20px;
  }
  .price-maintable{
    width: 20%;
    
    align-items: center;
  }
  .normal-price{
    margin-right:8px ;
    text-decoration: line-through;
  }
  .discount-price{
    color: red;
  }
  .over-button{
    display: flex;
  }

  .button-edit{
    color: #9e276e;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #9e276e;
    background-color: #f2cfee;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  .button-delete{
    color: #9e276e;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #9e276e;
    background-color: #f2cfee;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  .button-buy{
    color: #9e276e;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #9e276e;
    background-color: #f2cfee;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  button:hover{
    background-color: #c0a9be;
  }
  .pop-up{
    position: absolute;
    top: 50px;
    left: 40%;
    background-color: green;
    width: 500px;
    height: 210px;
    border-radius: 8px;
    padding: 15px;
    display: block;
  }